WLED_RGB_LIGHTS.json
[
    {
        "id": "8c31d2b5.1569a",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "effect",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_select.effect_list",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "9597a1d.c49766"
            ]
        ]
    },
    {
        "id": "6bb0974a.1c1798",
        "type": "mqtt out",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb2b44b9.99b9e8",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "speed",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledspeed",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6947a174.4eee2"
            ]
        ]
    },
    {
        "id": "6947a174.4eee2",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Speed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SX={{payload}}",
        "output": "str",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "6bb0974a.1c1798",
                "2def5bee.ae3434"
            ]
        ]
    },
    {
        "id": "567f2908.d0cca8",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "intensity",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledintensity",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 80,
        "y": 240,
        "wires": [
            [
                "98a6f14f.a4268"
            ]
        ]
    },
    {
        "id": "98a6f14f.a4268",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Intensity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "IX={{payload}}",
        "output": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6bb0974a.1c1798",
                "2def5bee.ae3434"
            ]
        ]
    },
    {
        "id": "48bee10d.85fd2",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "brightness",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_select.ledpaletttelist",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "21fd2822.5e1968"
            ]
        ]
    },
    {
        "id": "c32cbb9.4934f48",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "palette",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "FP={{payload}}",
        "output": "str",
        "x": 570,
        "y": 60,
        "wires": [
            [
                "26c2a9db.25d796",
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "47e90007.8228e",
        "type": "mqtt in",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "ledstrip/desk/v",
        "qos": "2",
        "datatype": "auto",
        "broker": "4342c680.8a4c38",
        "x": 860,
        "y": 380,
        "wires": [
            [
                "8c8062f5.ba781",
                "b1ca65f4.714cf8"
            ]
        ]
    },
    {
        "id": "b1ca65f4.714cf8",
        "type": "debug",
        "z": "9e08f20d.9c74b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "8c8062f5.ba781",
        "type": "xml",
        "z": "9e08f20d.9c74b",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 910,
        "y": 440,
        "wires": [
            [
                "feedc387.50c64",
                "54c18ef.3db507"
            ]
        ]
    },
    {
        "id": "feedc387.50c64",
        "type": "change",
        "z": "9e08f20d.9c74b",
        "name": "Speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vs.sx[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "7203d113.d2eb8"
            ]
        ]
    },
    {
        "id": "54c18ef.3db507",
        "type": "change",
        "z": "9e08f20d.9c74b",
        "name": "Intensity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vs.ix[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 560,
        "wires": [
            [
                "15f92ec6.57bfd1"
            ]
        ]
    },
    {
        "id": "7203d113.d2eb8",
        "type": "api-call-service",
        "z": "9e08f20d.9c74b",
        "name": "speed",
        "server": "9c88145d.64c568",
        "version": 1,
        "service_domain": "input_number",
        "service": "set_value",
        "entityId": "input_number.ledspeed",
        "data": "{\"value\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1050,
        "y": 500,
        "wires": [
            [
                "21fd2822.5e1968"
            ]
        ]
    },
    {
        "id": "15f92ec6.57bfd1",
        "type": "api-call-service",
        "z": "9e08f20d.9c74b",
        "name": "intensity",
        "server": "9c88145d.64c568",
        "version": 1,
        "service_domain": "input_number",
        "service": "set_value",
        "entityId": "input_number.ledintensity",
        "data": "{\"value\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "21fd2822.5e1968"
            ]
        ]
    },
    {
        "id": "cef80952.3692e8",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL={{payload}}",
        "output": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "2def5bee.ae3434",
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "2def5bee.ae3434",
        "type": "debug",
        "z": "9e08f20d.9c74b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ee2d33c.6cfd2c",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 560,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "ca5d4932.d773a8",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 600,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "aeb26834.6c9e38",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "preset_1",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_1",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "427de3c7.26291c"
            ]
        ]
    },
    {
        "id": "ffb88d7.193b87",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_2",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "e8f8894b.149088"
            ]
        ]
    },
    {
        "id": "427de3c7.26291c",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=1",
        "output": "str",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "e8f8894b.149088",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=2",
        "output": "str",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "c79284da.67e3c8",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_3",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 640,
        "wires": [
            [
                "b48b0e9e.9d846"
            ]
        ]
    },
    {
        "id": "3c30f027.79a37",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_4",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 700,
        "wires": [
            [
                "c17a4493.c28268"
            ]
        ]
    },
    {
        "id": "b48b0e9e.9d846",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=3",
        "output": "str",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "c17a4493.c28268",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=4",
        "output": "str",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "b1f30fe.d1613f",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_5",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "cdeed6c0.2774b8"
            ]
        ]
    },
    {
        "id": "990b1ea7.4314d",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_6",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 820,
        "wires": [
            [
                "1f139098.cdd1ff"
            ]
        ]
    },
    {
        "id": "cdeed6c0.2774b8",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=5",
        "output": "str",
        "x": 590,
        "y": 760,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "1f139098.cdd1ff",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=6",
        "output": "str",
        "x": 590,
        "y": 820,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "d99a0a16.f4b078",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_7",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "2c5587b1.e77298"
            ]
        ]
    },
    {
        "id": "2d4613d8.728e2c",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_8",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "9ac85338.1cc75"
            ]
        ]
    },
    {
        "id": "2c5587b1.e77298",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=7",
        "output": "str",
        "x": 590,
        "y": 880,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "9ac85338.1cc75",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=8",
        "output": "str",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "4bd9ddfb.3cca44",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_9",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "595dde67.0778a"
            ]
        ]
    },
    {
        "id": "21b45de2.29c302",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_10",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "a2886db5.211c3"
            ]
        ]
    },
    {
        "id": "595dde67.0778a",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=9",
        "output": "str",
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "a2886db5.211c3",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=10",
        "output": "str",
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "bd1cfe8d.d5443",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_11",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "278229de.a7c826"
            ]
        ]
    },
    {
        "id": "747916d8.669af8",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_12",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1180,
        "wires": [
            [
                "ef03837a.02278"
            ]
        ]
    },
    {
        "id": "278229de.a7c826",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=11",
        "output": "str",
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "ef03837a.02278",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=12",
        "output": "str",
        "x": 590,
        "y": 1180,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "2447b9da.68a646",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_13",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "a8348ef0.43ec8"
            ]
        ]
    },
    {
        "id": "fb854861.86a988",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_14",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1300,
        "wires": [
            [
                "60d1a667.5fc088"
            ]
        ]
    },
    {
        "id": "a8348ef0.43ec8",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=13",
        "output": "str",
        "x": 590,
        "y": 1240,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "60d1a667.5fc088",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=14",
        "output": "str",
        "x": 590,
        "y": 1300,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "618f1953.731c48",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_15",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "f22a6bed.c275b8"
            ]
        ]
    },
    {
        "id": "657f20c8.ddbf7",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_boolean.preset_16",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 360,
        "y": 1420,
        "wires": [
            [
                "a15e6e6c.757f4"
            ]
        ]
    },
    {
        "id": "f22a6bed.c275b8",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=15",
        "output": "str",
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "a15e6e6c.757f4",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL=16",
        "output": "str",
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "a4fc1bef.6b73d8",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 640,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "f71f73e5.82e9c",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "4",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 680,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "fe5cad5b.817c8",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "5",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 720,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "c2b3ef98.1db77",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 760,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "6688dab5.688394",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "7",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 800,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "68b87310.cbe02c",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "8",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 840,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "f9e68893.ef0178",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "9",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 880,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "e6331eee.f528d",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 920,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "1702c812.97a0a8",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "11",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 960,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "2ca813bc.06d39c",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "12",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1000,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "93a97550.73bcc8",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "13",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1040,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "db3d8ac8.9e2978",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "14",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1080,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "dc1b1329.43768",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "15",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1120,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "17ff9222.9a112e",
        "type": "inject",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "",
        "payload": "16",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 1160,
        "wires": [
            [
                "cef80952.3692e8"
            ]
        ]
    },
    {
        "id": "26c2a9db.25d796",
        "type": "debug",
        "z": "9e08f20d.9c74b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "21fd2822.5e1968",
        "type": "debug",
        "z": "9e08f20d.9c74b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1310,
        "y": 540,
        "wires": []
    },
    {
        "id": "9597a1d.c49766",
        "type": "function",
        "z": "9e08f20d.9c74b",
        "name": "Parse EffectList",
        "func": "var str = msg.payload;\nmsg.payload = parseInt(str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 120,
        "wires": [
            [
                "9b7b5a28.d2d278"
            ]
        ]
    },
    {
        "id": "8615415d.dbf92",
        "type": "change",
        "z": "9e08f20d.9c74b",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Solid",
                "fromt": "str",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Blink",
                "fromt": "str",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Breathe",
                "fromt": "str",
                "to": "2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Wipe",
                "fromt": "str",
                "to": "3",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Wipe Random",
                "fromt": "str",
                "to": "4",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Random Colors",
                "fromt": "str",
                "to": "5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Sweep",
                "fromt": "str",
                "to": "6",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Dynamic",
                "fromt": "str",
                "to": "7",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Colorloop",
                "fromt": "str",
                "to": "8",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Rainbow",
                "fromt": "str",
                "to": "9",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Scan",
                "fromt": "str",
                "to": "10",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Dual Scan",
                "fromt": "str",
                "to": "11",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Fade",
                "fromt": "str",
                "to": "12",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Chase",
                "fromt": "str",
                "to": "13",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Chase Rainbow",
                "fromt": "str",
                "to": "14",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9b7b5a28.d2d278",
        "type": "template",
        "z": "9e08f20d.9c74b",
        "name": "effect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "FX={{payload}}",
        "output": "str",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "26c2a9db.25d796",
                "6bb0974a.1c1798"
            ]
        ]
    },
    {
        "id": "3998264a.b2cf2a",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "pallette",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_select.palette_list",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "26b67b09.83f5a4"
            ]
        ]
    },
    {
        "id": "26b67b09.83f5a4",
        "type": "function",
        "z": "9e08f20d.9c74b",
        "name": "Parse pallettelist",
        "func": "var str = msg.payload;\nmsg.payload = parseInt(str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "c32cbb9.4934f48"
            ]
        ]
    },
    {
        "id": "709d9887.a74d48",
        "type": "api-call-service",
        "z": "9e08f20d.9c74b",
        "name": "intensity",
        "server": "9c88145d.64c568",
        "version": 1,
        "service_domain": "input_number",
        "service": "set_value",
        "entityId": "input_number.ledintensity",
        "data": "{\"value\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1040,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d574ddc.95dfc2",
        "type": "server-state-changed",
        "z": "9e08f20d.9c74b",
        "name": "Brightness",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledbrightness",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "bef0404d.1d542"
            ]
        ]
    },
    {
        "id": "bef0404d.1d542",
        "type": "mqtt out",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "ledstrip/desk",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "36694219.c7f22e",
        "type": "mqtt in",
        "z": "9e08f20d.9c74b",
        "name": "",
        "topic": "ledstrip/desk/g",
        "qos": "2",
        "datatype": "auto",
        "broker": "4342c680.8a4c38",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "fbef3571.512b28"
            ]
        ]
    },
    {
        "id": "fbef3571.512b28",
        "type": "api-call-service",
        "z": "9e08f20d.9c74b",
        "name": "intensity",
        "server": "9c88145d.64c568",
        "version": 1,
        "service_domain": "input_number",
        "service": "set_value",
        "entityId": "input_number.ledbrightness",
        "data": "{\"value\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 980,
        "y": 600,
        "wires": [
            [
                "21fd2822.5e1968"
            ]
        ]
    },
    {
        "id": "9c88145d.64c568",
        "type": "server",
        "z": "",
        "name": "Home Assistant1",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "4342c680.8a4c38",
        "type": "mqtt-broker",
        "z": "",
        "name": "HASSIOMQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "Node-Red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]