WLED_Dashboard.json
[
    {
        "id": "7da83368.cbd73c",
        "type": "comment",
        "z": "f5f047d4.109468",
        "name": "Presets",
        "info": "",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "180879a2.56d296",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 120,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "fc13db80.7898f8",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 160,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "daa8d47d.8b5ff8",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "ed54f197.f2851",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 4,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 240,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "70bbc28f.1f3d7c",
        "type": "server-state-changed",
        "z": "f5f047d4.109468",
        "name": "effect",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_select.effect_list",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 50,
        "y": 460,
        "wires": [
            [
                "f0a31900.351748"
            ]
        ]
    },
    {
        "id": "c42868b3.ca0218",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "533685cf.f7b48c",
        "type": "server-state-changed",
        "z": "f5f047d4.109468",
        "name": "speed",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledspeed",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 50,
        "y": 160,
        "wires": [
            [
                "36feef44.89945",
                "a715b454.f04ea8"
            ]
        ]
    },
    {
        "id": "36feef44.89945",
        "type": "template",
        "z": "f5f047d4.109468",
        "name": "Speed",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SX={{payload}}",
        "output": "str",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "c42868b3.ca0218"
            ]
        ]
    },
    {
        "id": "175760e6.27199f",
        "type": "server-state-changed",
        "z": "f5f047d4.109468",
        "name": "intensity",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledintensity",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 60,
        "y": 220,
        "wires": [
            [
                "fac69fb6.e33ae",
                "81fc872.5c62a78"
            ]
        ]
    },
    {
        "id": "fac69fb6.e33ae",
        "type": "template",
        "z": "f5f047d4.109468",
        "name": "Intensity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "IX={{payload}}",
        "output": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "c42868b3.ca0218",
                "67d1884.9349b78"
            ]
        ]
    },
    {
        "id": "5618cb77.bc6cd4",
        "type": "template",
        "z": "f5f047d4.109468",
        "name": "palette",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "FP={{payload}}",
        "output": "str",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "1fd2eb2.8c6bc15"
            ]
        ]
    },
    {
        "id": "26a93715.c7c218",
        "type": "template",
        "z": "f5f047d4.109468",
        "name": "Preset",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PL={{payload}}",
        "output": "str",
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "e830b128.e2f5"
            ]
        ]
    },
    {
        "id": "f0a31900.351748",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "Parse EffectList",
        "func": "var str = msg.payload;\nmsg.payload = parseInt(str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 460,
        "wires": [
            [
                "264285e1.6b3f0a"
            ]
        ]
    },
    {
        "id": "264285e1.6b3f0a",
        "type": "template",
        "z": "f5f047d4.109468",
        "name": "effect",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "FX={{payload}}",
        "output": "str",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "1fd2eb2.8c6bc15"
            ]
        ]
    },
    {
        "id": "800d1cae.59c94",
        "type": "server-state-changed",
        "z": "f5f047d4.109468",
        "name": "pallette",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_select.palette_list",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 50,
        "y": 380,
        "wires": [
            [
                "e0a8908d.ee0cf"
            ]
        ]
    },
    {
        "id": "e0a8908d.ee0cf",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "Parse pallette list",
        "func": "var str = msg.payload;\nmsg.payload = parseInt(str);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "5618cb77.bc6cd4"
            ]
        ]
    },
    {
        "id": "e8d78d10.fb8b2",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 280,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "c9f46583.4d03c8",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 320,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "cf9935dd.a60298",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "68fd92dd.b8856c",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 400,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "e91ee09d.0b098",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 440,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "553719aa.531f28",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 10,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "10",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "10",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "af357626.8a6ca8",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 11,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "11",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "11",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 520,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "78d86f06.3c22d",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 12,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "12",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "12",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 560,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "7b7ea159.ac288",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 13,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "13",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "13",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "e2a4d1c2.2197d",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 14,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "14",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "14",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "90a47813.6be438",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 15,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "15",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "15",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "1dfa38e0.d75617",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 16,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "16",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "16",
        "payloadType": "str",
        "topic": "",
        "x": 850,
        "y": 720,
        "wires": [
            [
                "26a93715.c7c218"
            ]
        ]
    },
    {
        "id": "a715b454.f04ea8",
        "type": "ui_slider",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "c8e7e254.4a2f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "36feef44.89945"
            ]
        ]
    },
    {
        "id": "81fc872.5c62a78",
        "type": "ui_slider",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Intensity",
        "tooltip": "",
        "group": "c8e7e254.4a2f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "fac69fb6.e33ae"
            ]
        ]
    },
    {
        "id": "73128df2.b68584",
        "type": "ui_colour_picker",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Primary Color",
        "group": "18f80b67.b106f5",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "d5a0e98e.fc2408"
            ]
        ]
    },
    {
        "id": "ac531ebb.03fbd",
        "type": "ui_dropdown",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Effect",
        "tooltip": "Choose the Color/Animation Effect",
        "place": "Solid",
        "group": "c8e7e254.4a2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Solid",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Blink",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Breathe",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Wipe",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Wipe Random",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Random Colors",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Sweep",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Dynamic",
                "value": 7,
                "type": "num"
            },
            {
                "label": "Colorloop",
                "value": 8,
                "type": "num"
            },
            {
                "label": "Rainbow",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Scan",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Dual Scan",
                "value": 11,
                "type": "num"
            },
            {
                "label": "Fade",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Chase",
                "value": 13,
                "type": "num"
            },
            {
                "label": "Chase Rainbow",
                "value": 14,
                "type": "num"
            },
            {
                "label": "Running",
                "value": 15,
                "type": "num"
            },
            {
                "label": "Saw",
                "value": 16,
                "type": "num"
            },
            {
                "label": "Twinkle",
                "value": 17,
                "type": "num"
            },
            {
                "label": "Dissolve",
                "value": 18,
                "type": "num"
            },
            {
                "label": "Dissolve Rnd",
                "value": 19,
                "type": "num"
            },
            {
                "label": "Sparkle",
                "value": 20,
                "type": "num"
            },
            {
                "label": "Dark Sparkle",
                "value": 21,
                "type": "num"
            },
            {
                "label": "Sparkle+",
                "value": 22,
                "type": "num"
            },
            {
                "label": "Strobe",
                "value": 23,
                "type": "num"
            },
            {
                "label": "Strobe Rainbow",
                "value": 24,
                "type": "num"
            },
            {
                "label": "Mega Strobe",
                "value": 25,
                "type": "num"
            },
            {
                "label": "Blink Rainbow",
                "value": 26,
                "type": "num"
            },
            {
                "label": "Android",
                "value": 27,
                "type": "num"
            },
            {
                "label": "Chase",
                "value": 28,
                "type": "num"
            },
            {
                "label": "Chase Random",
                "value": 29,
                "type": "num"
            },
            {
                "label": "Chase Rainbow",
                "value": 30,
                "type": "num"
            },
            {
                "label": "Chase Flash",
                "value": 31,
                "type": "num"
            },
            {
                "label": "Chase Flash Rnd",
                "value": 32,
                "type": "num"
            },
            {
                "label": "Rainbow Runner",
                "value": 33,
                "type": "num"
            },
            {
                "label": "Colorful",
                "value": 34,
                "type": "num"
            },
            {
                "label": "Traffic Light",
                "value": 35,
                "type": "num"
            },
            {
                "label": "Sweep Random",
                "value": 36,
                "type": "num"
            },
            {
                "label": "Running 2",
                "value": 37,
                "type": "num"
            },
            {
                "label": "Red & Blue",
                "value": 38,
                "type": "num"
            },
            {
                "label": "Stream",
                "value": 39,
                "type": "num"
            },
            {
                "label": "Scanner",
                "value": 40,
                "type": "num"
            },
            {
                "label": "Lighthouse",
                "value": 41,
                "type": "num"
            },
            {
                "label": "Fireworks",
                "value": 42,
                "type": "num"
            },
            {
                "label": "Rain",
                "value": 43,
                "type": "num"
            },
            {
                "label": "MerryChristmas",
                "value": 44,
                "type": "num"
            },
            {
                "label": "Fire Flicker",
                "value": 45,
                "type": "num"
            },
            {
                "label": "Gradient",
                "value": 46,
                "type": "num"
            },
            {
                "label": "Loading",
                "value": 47,
                "type": "num"
            },
            {
                "label": "In Out",
                "value": 48,
                "type": "num"
            },
            {
                "label": "In In",
                "value": 49,
                "type": "num"
            },
            {
                "label": "Out Out",
                "value": 50,
                "type": "num"
            },
            {
                "label": "Out In",
                "value": 51,
                "type": "num"
            },
            {
                "label": "Circus",
                "value": 52,
                "type": "num"
            },
            {
                "label": "Halloween",
                "value": 53,
                "type": "num"
            },
            {
                "label": "Tri Chase",
                "value": 54,
                "type": "num"
            },
            {
                "label": "Tri Wipe",
                "value": 55,
                "type": "num"
            },
            {
                "label": "TriFade",
                "value": 56,
                "type": "num"
            },
            {
                "label": "Lightning",
                "value": 57,
                "type": "num"
            },
            {
                "label": "ICU",
                "value": 58,
                "type": "num"
            },
            {
                "label": "Multi Comet",
                "value": 59,
                "type": "num"
            },
            {
                "label": "Dual Scanner",
                "value": 60,
                "type": "num"
            },
            {
                "label": "Stream 2",
                "value": 61,
                "type": "num"
            },
            {
                "label": "Oscillate",
                "value": 62,
                "type": "num"
            },
            {
                "label": "Pride 2015",
                "value": 63,
                "type": "num"
            },
            {
                "label": "Juggle",
                "value": 64,
                "type": "num"
            },
            {
                "label": "Palette",
                "value": 65,
                "type": "num"
            },
            {
                "label": "Fire 2012",
                "value": 66,
                "type": "num"
            },
            {
                "label": "Color waves",
                "value": 67,
                "type": "num"
            },
            {
                "label": "BPM",
                "value": 68,
                "type": "num"
            },
            {
                "label": "Fill Noise",
                "value": 69,
                "type": "num"
            },
            {
                "label": "Noise 1",
                "value": 70,
                "type": "num"
            },
            {
                "label": "Noise 2",
                "value": 71,
                "type": "num"
            },
            {
                "label": "Noise 3",
                "value": 72,
                "type": "num"
            },
            {
                "label": "Noise 4",
                "value": 73,
                "type": "num"
            },
            {
                "label": "Colortwinkle",
                "value": 74,
                "type": "num"
            },
            {
                "label": "Lake",
                "value": 75,
                "type": "num"
            },
            {
                "label": "Meteor",
                "value": 76,
                "type": "num"
            },
            {
                "label": "SmoothMeteor",
                "value": 77,
                "type": "num"
            },
            {
                "label": "Railway",
                "value": 78,
                "type": "num"
            },
            {
                "label": "Ripple",
                "value": 79,
                "type": "num"
            },
            {
                "label": " Twinklefox",
                "value": 80,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "264285e1.6b3f0a"
            ]
        ]
    },
    {
        "id": "83a844ba.4fc8a8",
        "type": "ui_dropdown",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Pallette",
        "tooltip": "Choose the Color Palette",
        "place": "Default",
        "group": "c8e7e254.4a2f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Default",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Random Cycle",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Primary color",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Based on primary",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Set colors",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Based on set",
                "value": 5,
                "type": "num"
            },
            {
                "label": "Party",
                "value": 6,
                "type": "num"
            },
            {
                "label": "Cloud",
                "value": 7,
                "type": "num"
            },
            {
                "label": "Lava",
                "value": 8,
                "type": "num"
            },
            {
                "label": "Ocean",
                "value": 9,
                "type": "num"
            },
            {
                "label": "Forest",
                "value": 10,
                "type": "num"
            },
            {
                "label": "Rainbow",
                "value": 11,
                "type": "num"
            },
            {
                "label": "Rainbow bands",
                "value": 12,
                "type": "num"
            },
            {
                "label": "Sunset",
                "value": 13,
                "type": "num"
            },
            {
                "label": "Rivendell",
                "value": 14,
                "type": "num"
            },
            {
                "label": "Breeze",
                "value": 15,
                "type": "num"
            },
            {
                "label": "Red & Blue",
                "value": 16,
                "type": "num"
            },
            {
                "label": "Yellowout",
                "value": 17,
                "type": "num"
            },
            {
                "label": "Analoguous",
                "value": 18,
                "type": "num"
            },
            {
                "label": "Splash",
                "value": 19,
                "type": "num"
            },
            {
                "label": "Pastel",
                "value": 20,
                "type": "num"
            },
            {
                "label": "Sunset 2",
                "value": 21,
                "type": "num"
            },
            {
                "label": "Beech",
                "value": 22,
                "type": "num"
            },
            {
                "label": "Vintage",
                "value": 23,
                "type": "num"
            },
            {
                "label": "Departure",
                "value": 24,
                "type": "num"
            },
            {
                "label": "Landscape",
                "value": 25,
                "type": "num"
            },
            {
                "label": "Beach",
                "value": 26,
                "type": "num"
            },
            {
                "label": "Sherbet",
                "value": 27,
                "type": "num"
            },
            {
                "label": "Hult",
                "value": 28,
                "type": "num"
            },
            {
                "label": "Hult 64",
                "value": 29,
                "type": "num"
            },
            {
                "label": "Drywet",
                "value": 30,
                "type": "num"
            },
            {
                "label": "Jul",
                "value": 31,
                "type": "num"
            },
            {
                "label": "Grintage",
                "value": 32,
                "type": "num"
            },
            {
                "label": "Rewhi",
                "value": 33,
                "type": "num"
            },
            {
                "label": "Tertiary",
                "value": 34,
                "type": "num"
            },
            {
                "label": "Fire",
                "value": 35,
                "type": "num"
            },
            {
                "label": "Icefire",
                "value": 36,
                "type": "num"
            },
            {
                "label": "Cyane",
                "value": 37,
                "type": "num"
            },
            {
                "label": "Light Pink",
                "value": 38,
                "type": "num"
            },
            {
                "label": "Autumn",
                "value": 39,
                "type": "num"
            },
            {
                "label": "Magenta",
                "value": 40,
                "type": "num"
            },
            {
                "label": "Magred",
                "value": 41,
                "type": "num"
            },
            {
                "label": "Yelmag",
                "value": 42,
                "type": "num"
            },
            {
                "label": "Yelblu",
                "value": 43,
                "type": "num"
            },
            {
                "label": "Orange & Teal",
                "value": 44,
                "type": "num"
            },
            {
                "label": "Tiamat",
                "value": 45,
                "type": "num"
            },
            {
                "label": "April Night",
                "value": 46,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "5618cb77.bc6cd4"
            ]
        ]
    },
    {
        "id": "cdaf2dc4.db11",
        "type": "ui_colour_picker",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "Secondary Color",
        "group": "18f80b67.b106f5",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 130,
        "y": 900,
        "wires": [
            [
                "280d2d0c.c84032"
            ]
        ]
    },
    {
        "id": "326e60f9.9fef",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "1",
        "retain": "false",
        "broker": "4342c680.8a4c38",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "c08c847e.dae0c8",
        "type": "inject",
        "z": "f5f047d4.109468",
        "name": "POWER ON",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "80a92d56.47fd"
            ]
        ]
    },
    {
        "id": "bfc4249a.8dae88",
        "type": "inject",
        "z": "f5f047d4.109468",
        "name": "POWER OFF",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 640,
        "wires": [
            [
                "80a92d56.47fd"
            ]
        ]
    },
    {
        "id": "95894fd5.ee182",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "Power",
        "group": "e7e1fa70.1514a8",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Power not working",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "",
        "payload": "{\"data\":{\"entity_id\": \"light.led_strip\"},\"service\":\"toggle\"}",
        "payloadType": "str",
        "topic": "",
        "x": 590,
        "y": 600,
        "wires": [
            [
                "bf4527dd.cf00d8"
            ]
        ]
    },
    {
        "id": "80a92d56.47fd",
        "type": "change",
        "z": "f5f047d4.109468",
        "name": "Change",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "win&T=0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "win&T=1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "2",
                "fromt": "num",
                "to": "win&T=2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 660,
        "wires": [
            [
                "326e60f9.9fef"
            ]
        ]
    },
    {
        "id": "7855b4fb.f7991c",
        "type": "inject",
        "z": "f5f047d4.109468",
        "name": "POWER TOGGLE",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "80a92d56.47fd"
            ]
        ]
    },
    {
        "id": "d5a0e98e.fc2408",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "Primary",
        "func": "var str = msg.payload;\nmsg.payload = \"win&CL=#\"+str\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 860,
        "wires": [
            [
                "ed1eed3b.44cb6"
            ]
        ]
    },
    {
        "id": "280d2d0c.c84032",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "secondary",
        "func": "var str = msg.payload;\nmsg.payload = \"win&C2=#\"+str\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "ed1eed3b.44cb6"
            ]
        ]
    },
    {
        "id": "588b0d4a.f4e314",
        "type": "comment",
        "z": "f5f047d4.109468",
        "name": "Colors Primary and Secondary",
        "info": "",
        "x": 130,
        "y": 820,
        "wires": []
    },
    {
        "id": "ed1eed3b.44cb6",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "1",
        "retain": "false",
        "broker": "4342c680.8a4c38",
        "x": 510,
        "y": 860,
        "wires": []
    },
    {
        "id": "24920522.eaed3a",
        "type": "comment",
        "z": "f5f047d4.109468",
        "name": "Power Toggle",
        "info": "",
        "x": 70,
        "y": 560,
        "wires": []
    },
    {
        "id": "1fd2eb2.8c6bc15",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "e830b128.e2f5",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "bf218aae.19a248",
        "type": "comment",
        "z": "f5f047d4.109468",
        "name": "Speed and Intensity",
        "info": "",
        "x": 90,
        "y": 80,
        "wires": []
    },
    {
        "id": "3f549ad1.4bc146",
        "type": "comment",
        "z": "f5f047d4.109468",
        "name": "Palette and Effect Settings",
        "info": "",
        "x": 110,
        "y": 340,
        "wires": []
    },
    {
        "id": "c6827a9f.17f0a8",
        "type": "inject",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "1983b004.27064"
            ]
        ]
    },
    {
        "id": "1983b004.27064",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "Variables",
        "func": "var wledname = \"wled/holidaylights/api\"\nflow.set(\"wledname\", wledname);\n\n//Button ON Colors\nvar ON_foreground = \"black\";\nvar ON_Background = \"lime\";\n\n//Button OFF Colors\nvar OFF_foreground = \"white\";\nvar OFF_Background = \"grey\";\n//--------------------------------------------\nflow.set(\"ON_foreground\", ON_foreground);\nflow.set(\"OFF_foreground\", OFF_foreground);\nflow.set(\"ON_Background\", ON_Background);\nflow.set(\"OFF_Background\", OFF_Background);\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "821c68ba.b97ed8",
        "type": "poll-state",
        "z": "f5f047d4.109468",
        "name": "led_strip",
        "server": "9c88145d.64c568",
        "version": 1,
        "updateinterval": "10",
        "updateIntervalUnits": "seconds",
        "outputinitially": true,
        "outputonchanged": true,
        "entity_id": "light.led_strip",
        "state_type": "str",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "d39e4490.300538"
            ]
        ]
    },
    {
        "id": "d39e4490.300538",
        "type": "function",
        "z": "f5f047d4.109468",
        "name": "Set Button Color",
        "func": "//Button Text\nvar entity = \"led_strip\";\n\nON_foreground =  flow.get(\"ON_foreground\");\nON_Background =  flow.get(\"ON_Background\");\nOFF_foreground = flow.get(\"OFF_foreground\");\nOFF_Background = flow.get(\"OFF_Background\");\n\nmsg.topic = (msg.payload === \"on\")?entity + \" On\":entity + \" Off\";\nmsg.color = (msg.payload === \"on\")?ON_foreground:OFF_foreground;\nmsg.background = (msg.payload === \"on\")?ON_Background:OFF_Background;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "95894fd5.ee182"
            ]
        ]
    },
    {
        "id": "bf4527dd.cf00d8",
        "type": "api-call-service",
        "z": "f5f047d4.109468",
        "name": "Entity",
        "server": "9c88145d.64c568",
        "version": 1,
        "service_domain": "homeassistant",
        "service": "{ }",
        "entityId": "{}",
        "data": "{ }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e80ce.a19cff",
        "type": "ui_button",
        "z": "f5f047d4.109468",
        "name": "",
        "group": "45f64b78.ebbe94",
        "order": 17,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "save preset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "36fe60b6.ce21d"
            ]
        ]
    },
    {
        "id": "e928f6b8.dced18",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk/api",
        "qos": "1",
        "retain": "false",
        "broker": "4342c680.8a4c38",
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "84d430d0.5f99f",
        "type": "debug",
        "z": "f5f047d4.109468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1110,
        "y": 660,
        "wires": []
    },
    {
        "id": "36fe60b6.ce21d",
        "type": "ui_numeric",
        "z": "f5f047d4.109468",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "45f64b78.ebbe94",
        "order": 18,
        "width": "3",
        "height": "1",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": "1",
        "max": "16",
        "step": 1,
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "84d430d0.5f99f"
            ]
        ]
    },
    {
        "id": "77397649.2e1928",
        "type": "server-state-changed",
        "z": "f5f047d4.109468",
        "name": "brightness",
        "server": "9c88145d.64c568",
        "version": 1,
        "entityidfilter": "input_number.ledbrightness",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 60,
        "y": 300,
        "wires": [
            [
                "1b807a66.d2a616"
            ]
        ]
    },
    {
        "id": "67d1884.9349b78",
        "type": "debug",
        "z": "f5f047d4.109468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "1b807a66.d2a616",
        "type": "mqtt out",
        "z": "f5f047d4.109468",
        "name": "",
        "topic": "ledstrip/desk",
        "qos": "0",
        "retain": "",
        "broker": "4342c680.8a4c38",
        "x": 570,
        "y": 300,
        "wires": []
    },
    {
        "id": "45f64b78.ebbe94",
        "type": "ui_group",
        "z": "",
        "name": "Presets",
        "tab": "2421ea5f.98fd36",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9c88145d.64c568",
        "type": "server",
        "z": "",
        "name": "Home Assistant1",
        "legacy": false,
        "hassio": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "4342c680.8a4c38",
        "type": "mqtt-broker",
        "z": "",
        "name": "HASSIOMQTT",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "Node-Red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c8e7e254.4a2f",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "2421ea5f.98fd36",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "18f80b67.b106f5",
        "type": "ui_group",
        "z": "",
        "name": "Colors",
        "tab": "2421ea5f.98fd36",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7e1fa70.1514a8",
        "type": "ui_group",
        "z": "",
        "name": "Power",
        "tab": "2421ea5f.98fd36",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2421ea5f.98fd36",
        "type": "ui_tab",
        "z": "",
        "name": "Deck Lights RGB WLED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
]